html {
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(55.22deg, #d95129 -0.02%, #f16521 88.91%);
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 120vh;
    overflow-x: hidden;
}

#main-container {
    width: 100vw;
    height: 120vh;
    display: flex;
}

#main-container header {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: calc(78px - 25.7px);
    padding-top: 25.7px;
}

#main-container .main-section {
    flex-grow: 1;
    width: 50%;
}

#main-container #left-header {
    padding-left: 216px;
    width: calc(50% - 216px);
    display: flex;
}

#left-section {
    background-color: white;
}

#logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #eb6023;
    flex-shrink: 1;
}

#left-menu {
    flex-grow: 1;
    text-align: center;
}

#left-menu ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14.4px;
    line-height: 17px;
    letter-spacing: 0.312px;
    color: #525256;
    margin-top: 8px;
}

#left-menu ul li {
    cursor: pointer;
    display: inline-block;
}

#left-menu ul li:first-child {
    margin-right: 55px;
}

#left-menu ul li:hover {
    text-decoration: underline;
}

#main-container #right-header {
    padding-right: 101px;
    width: calc(50% - 101px);
}

#right-header-fix-container {
    float: right;
    display: flex;
}

#right-menu {
    margin-right: 36.6px;
}

#right-menu ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 13.2px;
    line-height: 15px;
    letter-spacing: 0.286px;
    color: #ffffff;
    margin-top: 19px;
}

#right-menu ul li {
    cursor: pointer;
    display: inline-block;
}

#right-menu ul li i {
    margin-right: 10px;
}

#right-menu ul li:first-child {
    margin-right: 36.4px;
}

#right-menu ul li:hover {
    text-decoration: underline;
}

#cog-icon {
    transform: translateY(3px);
    margin-right: 10px;
}

#login-signup-container button {
    width: 116.4px;
    height: 48.94px;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: white;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 13.2px;
    line-height: 15px;
    letter-spacing: -0.231579px;
    border-radius: 6.912px;
    padding: 0px;
    cursor: pointer;
}

#login-signup-container button:hover {
    background-color: white;
}

#login-signup-container button:hover i {
    color: #F16521;
}

#login-signup-container button:hover span {
    color: #F16521;
}

#login-signup-container button i {
    margin-right: 10px;
}

#login-signup-container button:first-child {
    margin-right: 13px;
}

#left-section-fix-container {
    margin-left: 216px;
}

#because-payments-container {
    margin-top: 215px;
    width: 351px;
    height: 96px;
    display: flex;
    flex-direction: column;
}

.boxes {
    flex-grow: 1;
    display: flex;
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 38.4px;
    line-height: 48px;
    /* or 125% */
    letter-spacing: -0.5184px;
    color: #525256;
}

.boxes div {
    margin-right: 8px;
}

#last-line div:nth-child(3) {
    margin-right: 0px;
}

.last-word {
    text-decoration: underline;
    color: #1CA78B;
    cursor: pointer;
}

#last-line div:last-child {
    font-weight: 400;
}

#search-box {
    width: calc(100% + 53.8px);
    height: 86px;
    margin-top: calc(460px - (216px + 96px));
    display: flex;
}

#green-small-detail {
    width: 3.6px;
    height: 84px;
    background-color: #1CA78B;
    margin-left: 194px;
}

#input-bill-payments {
    border: 0px;
    width: calc(100% - 33.6px);
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 19.2px;
    line-height: 23px;
    /* identical to box height */
    letter-spacing: 0.6px;
    color: black;
    padding-left: 33.6px;
    padding-top: 28.6px;
    padding-bottom: 34.4px;
    box-shadow: 0px 30px 38px rgba(0, 0, 0, 0.03);
}

#input-bill-payments::placeholder {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 19.2px;
    line-height: 23px;
    /* identical to box height */
    letter-spacing: 0.6px;
    color: #BCBCBC;
}

#search-box button {
    width: 53.8px;
    background-color: white;
    padding: 0px;
    border: 0px;
}

#search-box button:hover {
    /* wont work i don't know why */
    cursor: pointer;
}

#search-icon {
    width: 27.6px;
    height: 27.6px;
    padding-right: 27px;
}

#quick-links-container {
    margin-top: 66.2px;
    display: flex;
    align-items: center;
}

#thunder-icon {
    width: 13.2px;
    height: 19.2px;
}

#quick-links-container span {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 19.2px;
    line-height: 48px;
    /* identical to box height, or 250% */
    letter-spacing: 3.336px;
    color: #000000;
    margin-left: 10.8px;
}

#button-containers {
    width: calc(100% - 48.56px);
    margin-top: 19.2px;
    display: flex;
    flex-direction: column;
}

#button-containers button {
    height: 53.71px;
    cursor: pointer;
    background-color: transparent;
    padding: 0px;
}

#quicklink-row-1 button {
    border: 2px solid #F16521;
    box-sizing: border-box;
    border-radius: 8px;
    flex-grow: 1;
}

#quicklink-row-1 button:first-child {
    margin-right: 9.24px;
}

#quicklink-row-1 button:nth-child(2) {
    margin-right: 10.29px;
}

#quicklink-row-1 button span {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.350877px;
    color: #F16521;
}

#quicklink-row-2 {
    margin-top: 19.49px;
    padding-right: calc(99.09px - 48.86px);
}

#quicklink-row-2 button span {
    color: rgb(105, 105, 105);
}

#quicklink-row-3 button span {
    color: rgb(165, 165, 165);
}

#quicklink-row-4 button span {
    color: rgb(206, 206, 206);
}

#quicklink-row-5 button span {
    color: rgb(224, 224, 224);
}

#quicklink-row-2 button {
    flex-grow: 1;
}

#quicklink-row-2 button:first-child {
    margin-right: 12.69px;
}

.quicklinks-button {
    display: flex;
}

.quicklinks-button button span {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 19.2px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.336842px;
}

#quicklink-row-3 {
    margin-top: 15.89px;
    padding-right: 131.09px;
}

#quicklink-row-3 button:first-child {
    margin-right: 9.6px;
}

#quicklink-row-4 {
    margin-top: 19.49px;
    padding-right: 26px;
}

#quicklink-row-4 button:first-child {
    margin-right: 12px;
}

#quicklink-row-5 {
    margin-top: 13.49px;
    padding-right: 224px;
}

#quicklink-row-5 button:first-child {
    margin-right: 19.2px;
}

.quicklinks-button>button {
    border: 1.92px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 7.68px;
    flex-grow: 1;
}

#button-containers div:not(:first-child) button:hover {
    filter: invert(40%);
}

#button-containers div:first-child button:hover {
    background-color: #F16521;
}

#button-containers div:first-child button:hover span {
    color: white;
}

#box-1 {
    width: 99px;
    height: 99px;
    background: linear-gradient(48.55deg, #D95129 19.25%, #F16521 98.13%);
    border-radius: 30px;
    transform: matrix(0.87, -0.5, -0.5, -0.87, 0, 0);
    margin-left: -283px;
}

#design-header-box {
    width: 168.98px;
    height: 168.98px;
    position: absolute;
    background: linear-gradient(36.15deg, #D95129 -27.59%, #F16521 127.78%);
    mix-blend-mode: screen;
    opacity: 0.2;
    border-radius: 7.2px;
    transform: rotate(23deg);
    margin-top: -121px;
    margin-left: 150px;
}

#right-section-fix-container {
    margin-top: 168px;
    margin-left: calc(52% - 358px /2);
}

#options-container {
    display: flex;
    flex-direction: column;
    width: 358.8px;
    height: 830.7px;
}

#options-container>div {
    flex-grow: 1;
    display: flex;
}

#middle-box {
    background: #FFFFFF;
    box-shadow: 0px 8px 42px rgba(133, 133, 133, 0.1), 0px 18px 26px rgba(119, 119, 119, 0.1), 0px 5px 10px rgba(161, 161, 161, 0.12);
    border-radius: 9.6px;
    align-items: center;
    display: flex;
    height: 277.56px;
    cursor: pointer;
}

#recieve-money-icon {
    width: 34.8px;
    height: 73.2px;
    margin-left: 73.2px;
    margin-right: 29.02px;
}

#calculator-icon {
    width: 45.6px;
    height: 55.2px;
    margin-left: 67.13px;
    margin-right: 28.64px;
}

#computer-cash-icon {
    width: 93.6px;
    height: 56.4px;
    margin-left: 39.6px;
    margin-right: 14.4px;
}

#message-balance-1 {
    border-left: 0.6px solid #FFFFFF;
    width: 154.44px;
    height: 109.08px;
    padding-left: 15.12px;
}

#message-balance-2 {
    border-left: 0.6px solid #F16521;
    width: 154.44px;
    height: 121.2px;
    padding-left: 16.8px;
    display: flex;
    flex-direction: column;
}

#message-balance-3 {
    border-left: 0.6px solid #FFFFFF;
    width: 140.04px;
    height: 109.08px;
    padding-left: 15.12px;
}

.orange-rows div span {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15.12px;
    line-height: 21px;
    color: #FFFFFF;
    margin: auto;
}

#message-balance-2 span {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16.8px;
    line-height: 23px;
    color: #000000;
    margin-top: calc(50% - 121.2px / 2);
}

.balance-text {
    text-align: left;
}

#message-balance-2 span:last-child {
    font-size: 10.8px;
    line-height: 15px;
    /* identical to box height */
    color: #1CA78B;
    margin-top: 9px;
    padding-bottom: 4.2px;
    border-bottom: 1.2px solid #1CA78B;
    width: 67.2px;
}

.orange-rows :last-child {
    display: flex;
}

.orange-rows {
    align-items: center;
    background: #ED6E2D;
    border-radius: 9.6px;
    width: calc(100% - 24px);
    margin-left: calc(50% - 334px / 2);
    border: 0px;
    display: flex;
    height: 276.57px;
}

#options-container button:hover {
    cursor: pointer;
}

#right-box-3 {
    position: absolute;
    width: 210px;
    height: 210px;
    background: linear-gradient(36.15deg, #D95129 -27.59%, #F16521 127.78%);
    mix-blend-mode: screen;
    opacity: 0.2;
    border-radius: 7.2px;
    transform: rotate(30deg);
    right: 0px;
    top: 122px;
}

#right-box-2 {
    position: absolute;
    background: linear-gradient(36.15deg, #D95129 -27.59%, #F16521 127.78%);
    mix-blend-mode: screen;
    opacity: 0.2;
    border-radius: 7.2px;
    width: 100.58px;
    height: 100.58px;
    margin-left: 152px;
    margin-top: 181px;
    transform: rotate(26deg);
}

#right-box-1 {
    position: absolute;
    background: linear-gradient(36.15deg, #D95129 -27.59%, #F16521 127.78%);
    mix-blend-mode: screen;
    opacity: 0.2;
    border-radius: 7.2px;
    width: 129.85px;
    height: 129.85px;
    transform: rotate(26deg);
    margin-left: -73px;
    margin-top: 126px;
}

#oval-containers div {
    border-radius: 50%;
}

#oval-hole {
    position: absolute;
    margin-left: 182px;
    margin-top: 480px;
    color: #ED7936;
    width: 129.6px;
    height: 129.6px;
    mix-blend-mode: screen;
    opacity: 0.11;
    border: 36px solid #ED7936;
    box-sizing: border-box;
}

#oval-1 {
    background: linear-gradient(36.15deg, #D95129 -27.59%, #F16521 127.78%);
    mix-blend-mode: screen;
    opacity: 0.2;
    width: 93.6px;
    height: 93.6px;
    margin-left: -5px;
    margin-top: 731px;
    position: absolute;
}

#oval-2 {
    position: absolute;
    width: 120px;
    height: 120px;
    background: linear-gradient(36.15deg, #D95129 -27.59%, #F16521 127.78%);
    mix-blend-mode: screen;
    opacity: 0.2;
    right: 89px;
    margin-top: 626px;
}

#bottom-box-1 {
    width: 210px;
    height: 210px;
    background: linear-gradient(36.15deg, #D95129 -27.59%, #F16521 127.78%);
    mix-blend-mode: screen;
    opacity: 0.2;
    border-radius: 7.2px;
    transform: rotate(30deg);
    position: absolute;
    bottom: -244px;
}